.stock
{
    font-weight: 400;
}
.dis:hover .button
{
    display:inline
}
.dis .button
{
    border-radius:30px;
    color: white;
    display: none;
}
.color
{
    background-color: #387ED1;
}
.head
{
    font-weight: bold;
}
.shadow-bottom
{
    box-shadow:0px 15px 10px -15px #666;
}
.fav
{
    font-size: 20px;
}